@import "colors.scss";

*{
  all: unset;
  font-family:"JetBrainsMono Nerd Font Propo";
  font-weight: bold;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

.bar{
  background-color: transparent;
  padding: 3px 8px 0 8px;
}

.menu{
  background-color:rgba($surface_container,0.75);
  border-radius:20px;
  margin-left:5px;
  padding:8px 15px;
}

.menu-eventbox{
  color:$secondary;
  transition: color 0.3s ease;
  &:hover{
    color:$primary;
  }
}

.power{
  margin-right:0px;
}

.power-eventbox{
  background-color:rgba($surface_container,0.75);
  border-radius:20px;
  color:$secondary;
  font-weight:bold;
  font-size:16px;
  font-family: "JetBrainsMono Nerd Font";
  padding:8px 15px;
  transition: color 0.3s ease;
  &:hover{
    color:$error;
  }
}

.ws{
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  font-weight: 700;
  color: #cdd6f4;
}

.workspaces {
  background-color:rgba($surface_container,0.75);
  color:$secondary;
  font-weight: 700;
  font-size: 98%;
  border-radius: 50px;
  padding: 8px 10px;
}

.workspace {
  color: $outline;
  border-radius: 9px;
  margin: 0 1px;
  padding: 1px 4px 0 4px;
  transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

.workspace.current {
  background-color: rgba($primary_fixed,0.75);
  color: $background;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.workspace:hover {
  color: $primary;
  border-radius: 20px;
}

.visiting, .occupied, .free{
  min-width: 16px;
  min-height: 20px;
  padding: 0px 5px;
  margin: 1px 0px;
  border: none;
  border-radius: 5px;
  color: #cdd6f4;
  transition: none;
  &:hover{
    color: #f5c2e7;
    border-bottom: 1px solid #f5c2e7;
    padding: 0px 8px;
  }
}

.visiting{
  color: #f5c2e7;
  border: 2px solid #f5c2e7;
  padding: 0px 8px;
  margin: 1px 2px;
}

.occupied{
  color: #cdd6f4;
}

.div{
  font-size:18px;
  font-weight:100;
  color:rgba($secondary,0.45);
}

.free{
  color: rgba(205,214,244,0.55);
}

.time-label{
  background-color:rgba($surface_container,0.75);
  color:$secondary;
  border-radius:20px;
  padding:8px 15px;
  transition: color 0.3s ease;
  &:hover{
    color:$primary;
  }
}

.keyboard,.battery,.volume-short, .ram-short{
  background-color:rgba($surface_container,0.75);
  padding:8px 15px;
  border-radius:20px;
  color:$secondary;
  font-size:98%;
  margin:0px;
}

.volume-short{

}

.ram-short{
  color: $secondary;
}

.keyboard{
  color:$secondary;
}

.kb-div,.wifi-div{
  margin:0px 3px;
}

.kb-type,.wifi-type{
  color:$on_surface;
}

.tray-button{
  background-color:rgba($surface_container,0.75);
  font-size:16px;
  font-family:"JetBrainsMono Nerd Font";
  color: $secondary;
  border-radius:20px;
  padding:8px 10px;
  transition: color 0.3s ease;
  &:hover{
    color:$primary;
  }
}

.systray-shadow{
  background-color:rgba($surface_container,0.75);
  margin-right:5px;
  padding:8px 15px;
  border-radius:20px;
}

image{
  margin: 0px 3px;
}

menu {
  border-radius:15px;
  padding: 10px;
  color:$on_surface;
  background-color: rgba($surface_container_lowest,0.88);
  menuitem {
    border-radius: 10px;
    padding: 8px 12px;
  }
  menuitem:hover {
    color:$on_primary;
    background-color: rgba($primary,0.85);
  }
}

.tray-text{
  margin-bottom:4px;
}

.wifi{
  background-color:rgba($surface_container,0.75);
  padding:8px 15px;
  color:$secondary;
  border-radius:20px;
  font-size:98%;
  margin:0px;
}

.space-wifi{
  font-size:4px;
}

.wifictl-container, .menuctl-container{
  box-shadow: 0 2px 3px 2px rgba($shadow,0.9);
  margin:5.5px;
  border-radius: 20px;
  min-width:385px;
  background-color: rgba($surface,0.92);
  padding: 5px;
}

.wifi-header, .cpu-header, .menu-header{
  font-size:25px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color:$primary;
}

.wifi-stats, .menu-subheader{
  color: $on_surface;
  margin-left:15px;
}

.nocon{
  color:$error;
}

.yescon{
  color: $primary;
}

.network-container, .app-container{
  min-height:15rem;
  margin:7px;
  margin-top:17px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba($shadow,0.65);
  background-color:rgba($surface_container_lowest,0.44);
}

.app-container{
  min-height:25rem;
}

.wifi-option-box, .app-option-box{
  font-size:16px;
  margin:5px 5px;
  border-radius:15px;
  padding:10px;
  background-color:rgba($surface_container_high,0.52);
  box-shadow: 0 2px 3px 2px rgba($shadow,0.65);
}

.wifi-ssid{
  margin:2px 15px;
}

.app-display{
  margin:2px 2px;
}

.app-name{
  margin-left:15px;
}

.wifi-ssid-01{
  color: $on_surface;
}

.wifi-ssid-02{
  color: $primary;
}

.wifi-ssid-03{
  color: $tertiary;
}

.wifi-buttons{
  color: $on_surface;
  border-radius:10px;
  background-color: rgba($surface_container_lowest,0.72);
}

.wifi-bcon{
  margin:10px;
}

.iwifi{
  margin-top:2px;
  margin-left:10px;
}

.swifi-header{
  font-size:15px;
  margin-left:15px;
  margin-top:10px;
  margin-bottom:7px;
  color: $on_surface;
}

.calendar-container{
  box-shadow: 0 2px 3px 2px rgba($shadow,0.9);
  margin:5.5px;
  margin-bottom:10px;
  border-radius: 20px;
  background-color: rgba($surface,0.92);
  padding: 5px;
}

.time-box{
  box-shadow: 0 2px 3px 2px rgba($shadow,0.9);
  border-radius:15px;
  margin-top:8px;
  padding-left:25px;
  padding-right:25px;
  padding-bottom:20px;
  background-color:rgba($surface_container_lowest,0.44);
}

.time-inner{
  color:$primary;
  font-size:50px;
  margin-left:4px;
  margin-top:10px;
}

.date-inner{
  color:$on_surface;
  margin-top:20px;
  font-size:18px;
}

.calendar-box{
  box-shadow: 0 2px 3px 2px rgba($shadow,0.65);
  border-radius:15px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  margin-bottom:9px;
  background-color:rgba($surface_container_lowest,0.44); 
}

.cal{
  padding:5px;
  color:$on_surface;
  &.header{
    color:$tertiary;
  }
  &.button{
    color:$tertiary;
    &:hover{
      color:$error;
    }
  }
  &:indeterminate{
    color:rgba($on_surface,0.4);
  }
  &.highlight{
    color:$primary;
  }
}

.main-container, .music-container, .cpu-container{
  box-shadow: 0 2px 3px 2px rgba($shadow,0.9);
  margin:5.5px;
  border-radius: 20px;
  min-width:385px;
  background-color: rgba($surface,0.92);
  padding: 5px;
}

.profile,.graph-container{
  min-width:370px;
  margin:0px 7px;
  margin-top:5px;
  padding:10px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba($shadow,0.65);
  background-color:rgba($surface_container_lowest,0.44);
}

.graph-container{
  color: #FF6B6B;
}

.graph-display{
  min-width:350px;
}

.main-temp{
  border-radius:10px;
  background-color:rgba(65,72,86,0.3);
  margin-left:3px;
  padding:5px 10px;
}


.pfp{
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-image: url('./hare.jpg');
  background-size: 110px;
  background-position: 50% 35%;
  background-repeat:no-repeat;
  min-height: 110px;
  min-width: 110px;
  border-radius: 100%;
  margin-right:20px;
}

.username{
  font-size:30px;
  color:rgb(48,100,170);
}

.uptime{
  color:rgb(205,212,246);
}

.minicore-container{
  margin-top:20px;
  margin-bottom:5px;
}

.minicores{
  padding:7px;
}

.C0,.C1,.C2,.C3{
  margin:0px 7px;
  padding:10px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-color:rgba(0,0,0,0.28);
  color:#88C0D0;
}

.ctlpanel{
  min-width:230px;
  margin-top:10px;
  border-radius:20px;
  padding:5px;
  background-color:rgba(65,72,86,0.3);
  font-family: "JetBrainsMono Nerd Font";
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
}

.shutdown{
  color:#e06c75;
  transition:color 0.3s;
  &:hover{
    color:#f38b91;
  }
}

.logout{
  color:#d19a66;
  transition:color 0.3s;
  &:hover{
    color:#e5b07b;
  }
}

.lockscr{
  color:#61afef;
  transition:color 0.3s;
  &:hover{
    color:#79c0ff;
  }
}

.reboot{
  color:#c678dd;
  transition: color 0.3s;
  &:hover{
    color:#d896f0;
  }
}

.suspend{
  color:#56b6c2;
  transition:color 0.3s;
  &:hover{
    color:#6edddf;
  }
}

.hibernate {
  color: #5fb3b3;
  transition: color 0.3s;
  &:hover {
    color: #a1e3e3;
  }
}

tooltip{
  padding:10px;
  border-radius:20px;
  background-color: rgba(24,24,37,0.75);
}

.sysctl{
  margin:0px 7px;
  margin-top:17px;
  padding:10px;
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-color:rgba(0,0,0,0.28);
  min-width:370px;
  border-radius:15px;
}

.BAT1, .BAT2, .BAT3{
  color: #2ECC71;
}

.BAT4, .BAT5{
  color:#E74C3C;
}

.CHARGING{
  color: #F1C40F;
}

.batico-main{
  margin-left:10px;
  margin-right:15px;
  font-size:50px;
}

.batico-short{
  margin-right:6px;
  margin-top:6px;
}

.volico{
  color:rgb(144, 104, 220);
  margin-left:3px;
}

.bsht{
  color: #cdd6f4;
}

.bat-percent{
  font-size:20px;
  color:rgb(205,212,246);
}

.bat-status{
  color:rgba(255,255,255,0.5)
}

.bat-btn{
  font-size:13px;
}

.divider-h{
  min-height:3px;
  margin:15px 5px;
  background-color:rgb(0,0,0);
}

.sys{
  margin:0px 10px;
}

.cpu-box, .ram-box, .disk-box{
  margin:0px 10px;
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-color:rgba(45,52,66,0.3);
}

.cpu, .ram, .disk{
  border-radius:100px;
  margin-top:20px;
}
.cpu, .cpu01{ color: #FF6B6B;}
.ram, .ram01{ color: #4D9FEC; }
.disk, .disk01{ color: #43E97B; }
.cpu02, .ram02, .disk02{ color: rgb(205,212,246); }

.ramico, .diskico, .cpuico{
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size:20px;
}

.cpuico{
  margin-left:20px;
}

.ramico, .diskico{
  margin-left:25px;
}

.cpu, .ram, .disk{
  background-color:rgb(0,0,0);
}

.cpu-text, .ram-text, .disk-text{
  margin-bottom:10px;
}

.ram-text, .disk-text{
  margin-top:3.2px;
}

.sliderctl{
  border-radius:15px;
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.9);
  background-color:rgba(45,52,66,0.3);
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:10px;
}

.monitor-container{
  margin-bottom:6px;
}

.volume-slider{
  margin-top:10px;
  margin-left:13px;
}

.light-slider{
  margin-bottom:10px;
  margin-left:13px;
}

.vol trough {
  all: unset;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.3);
  border-radius: 50px;
  min-height: 10px;
  min-width: 250px;
  margin: 0 20px 0 20px;
}

.vol trough highlight {
  all: unset;
  background-color:rgb(144, 104, 190);
  border-radius: 10px;
}

.volume-slider,.volume-short{
  color:rgb(144, 104, 190);
}

.lig trough {
  all: unset;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.3);
  border-radius: 50px;
  min-height: 10px;
  min-width: 250px;
  margin: 0 20px 0 20px;
}

.lig trough highlight {
  all: unset;
  background-color:rgb(219,193,117);
  border-radius: 10px;
}

.light-slider{
  color:rgb(219,193,117);
}

.clear-container{
  margin:6px 10px;
}

.nheader{
  font-size:20px;
  color:rgb(205,212,246);
}

.clear{
  color:rgb(230,100,100);
  font-size:30px;
  transition: color 0.3s;
  &:hover{
    color:rgb(219,193,117);
  }
}

.music-title{
  margin-left:7px;
  margin-right:7px;
  margin-top:7px;
}

.music-thumbnail{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 6rem;
    min-width: 6rem;
    border-radius: 1rem;
}

.app-ico{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 2.5rem;
    min-width: 2.5rem;
}

.main-title{
  margin-top:15px;
  margin-bottom:12px;
  margin-left:15px;
  font-size:20px;
  color: #4D9FEC; 
}

.artist{
  color: rgb(205,212,246);
  font-size:13px;
  margin-left:15px;
}

.music-slider{
  margin-top:10px;
}

.music-slider trough {
  all: unset;
  background-color: rgba(0,0,0,0.3);
  box-shadow: 0 2px 3px 2px rgba(6,6,11,0.3);
  border-radius: 50px;
  min-height: 5px;
  min-width: 270px;
  margin: 0 20px 0 20px;
}

.music-slider trough highlight {
  all: unset;
  background-color:rgb(48,100,170);
  border-radius: 10px;
}

.music-timer{
  color: rgb(205,212,246);
  margin:3px 20px;
}

.mico{
  font-size:30px;
  margin-left:10px;
  transition:color 0.3s;
  &:hover{
    color:rgb(48,100,170);
  }
}

.vol-mini trough {
  all: unset;
  margin-left:7px;
  background-color: rgba(70,70,70,0.4);
  border-radius: 50px;
  min-height: 5px;
  min-width: 100px;
}

.vol-mini trough highlight {
  all: unset;
  background-color:rgb(144, 104, 220);
  border-radius: 10px;
}
