themes {
    gruvbox-material {
        text_unselected {
            base 212 190 152
            background 29 32 33
            emphasis_0 169 182 101
            emphasis_1 216 166 87
            emphasis_2 125 174 163
            emphasis_3 146 131 116
        }
        text_selected {
            base 212 190 152
            background 69 64 61
            emphasis_0 169 182 101
            emphasis_1 216 166 87
            emphasis_2 125 174 163
            emphasis_3 146 131 116
        }
        ribbon_selected {
            base 29 32 33
            background 193 18 31
            emphasis_0 212 190 152
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        ribbon_unselected {
            base 212 190 152
            background 50 48 47
            emphasis_0 193 18 31
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        table_title {
            base 193 18 31
            background 29 32 33
            emphasis_0 212 190 152
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        table_cell_selected {
            base 212 190 152
            background 69 64 61
            emphasis_0 193 18 31
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        table_cell_unselected {
            base 212 190 152
            background 29 32 33
            emphasis_0 193 18 31
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        list_selected {
            base 212 190 152
            background 69 64 61
            emphasis_0 193 18 31
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        list_unselected {
            base 212 190 152
            background 29 32 33
            emphasis_0 193 18 31
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 125 174 163
        }
        frame_unselected {
            base 80 73 69
            background 29 32 33
            emphasis_0 146 131 116
            emphasis_1 69 64 61
            emphasis_2 50 48 47
            emphasis_3 40 40 40
        }
        frame_selected {
            base 193 18 31
            background 29 32 33
            emphasis_0 212 190 152
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 29 32 33
        }
        frame_highlight {
            base 234 105 98
            background 29 32 33
            emphasis_0 212 190 152
            emphasis_1 216 166 87
            emphasis_2 169 182 101
            emphasis_3 80 73 69
        }
        exit_code_success {
            base 169 182 101
            background 29 32 33
            emphasis_0 212 190 152
            emphasis_1 69 64 61
            emphasis_2 125 174 163
            emphasis_3 80 73 69
        }
        exit_code_error {
            base 234 105 98
            background 29 32 33
            emphasis_0 193 18 31
            emphasis_1 69 64 61
            emphasis_2 216 166 87
            emphasis_3 212 190 152
        }
        multiplayer_user_colors {
            player_1  193 18 31
            player_2  169 182 101
            player_3  216 166 87
            player_4  125 174 163
            player_5  211 134 155
            player_6  137 180 130
            player_7  231 138 78
            player_8  234 105 98
            player_9  146 131 116
            player_10 80 73 69
        }
    }
}
