themes {
    ice-hacker {
        text_unselected {
            base 225 238 255
            background 0
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        text_selected {
            base 225 238 255
            background 16 30 58
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        ribbon_selected {
            base 7 17 35
            background 51 204 255
            emphasis_0 225 238 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        ribbon_unselected {
            base 225 238 255
            background 16 30 58
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        table_title {
            base 165 230 255
            background 0
            emphasis_0 51 204 255
            emphasis_1 225 238 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        table_cell_selected {
            base 225 238 255
            background 16 30 58
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        table_cell_unselected {
            base 225 238 255
            background 0
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        list_selected {
            base 225 238 255
            background 16 30 58
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        list_unselected {
            base 225 238 255
            background 0
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        frame_unselected {
            base 30 60 100
            background 0
            emphasis_0 51 204 255
            emphasis_1 165 230 255
            emphasis_2 0 200 130
            emphasis_3 16 30 58
        }
        frame_selected {
            base 51 204 255
            background 0
            emphasis_0 165 230 255
            emphasis_1 225 238 255
            emphasis_2 0 200 130
            emphasis_3 7 17 35
        }
        frame_highlight {
            base 51 204 255
            background 0
            emphasis_0 165 230 255
            emphasis_1 225 238 255
            emphasis_2 0 200 130
            emphasis_3 30 60 100
        }
        exit_code_success {
            base 0 200 130
            background 0
            emphasis_0 51 204 255
            emphasis_1 16 30 58
            emphasis_2 165 230 255
            emphasis_3 30 60 100
        }
        exit_code_error {
            base 255 100 100
            background 0
            emphasis_0 200 60 60
            emphasis_1 16 30 58
            emphasis_2 51 204 255
            emphasis_3 225 238 255
        }
        multiplayer_user_colors {
            player_1 51 204 255
            player_2 0 200 130
            player_3 165 230 255
            player_4 30 60 100
            player_5 225 238 255
            player_6 0 150 100
            player_7 16 30 58
            player_8 100 200 255
            player_9 80 180 240
            player_10 40 140 200
        }
    }
}
